# Laravel specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/storage/pail
/.env
/.env.backup
/.env.production
/phpunit.xml
/phpunit.xml.dist
.phpunit.cache
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Docker specific
docker-compose.override.yml
*.env
.docker
.dockerignore

# Vite specific
/.vite
/.output
dist/
build/

# IDE specific
/.idea
/.nova
/.vscode
/.zed
*.sublime-project
*.sublime-workspace
*.code-workspace

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp

# TypeScript build artifacts
*.tsbuildinfo

# Ignore compiled assets
/public/css/*
/public/js/*
